

<div class="dog">
	<%= form_tag(breeds_path, method: "get") do %>
		<%= label_tag(:breed, "Search dog:") %>
		<%= text_field_tag(:breed) %>
		<%= submit_tag("Search") %>
	<% end %>

  <h1>It's a dog</h1>

  <h3><%= @breed.name.humanize %></h3>

  <%= image_tag @breed.pic_url %>

</div>
